@font-face {
    font-family: 'Monofur';
    src: url('../fonts/monofur.ttf') format('truetype');
}

html,
body {
    font-family: 'Monofur', monospace;
}

body {
    margin: 0 auto;
    padding: 50px;
}