@font-face {
    font-family: 'Monofur';
    src: url('../fonts/monofur.ttf') format('truetype');
}

html,
body {
    margin: 0 auto;
    margin-top: 100px;
    width: 480px;
    font-family: 'Monofur', monospace;
}